# Slack
SLACK_SIGNING_SECRET=your_slack_signing_secret
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token

# GitHub OAuth App
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Google Cloud Storage
GCS_BUCKET_NAME=your-gcs-bucket-name
GCS_CONFIG_FILE_PATH=deploy-config.json

# App
APP_BASE_URL=https://your-cloud-run-service-url
PORT=8080
